* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

#root{
  overflow: hidden;
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
  background: linear-gradient(
    140deg,
    rgb(47, 102, 105) 0%,
    rgb(65, 142, 146) 50%,
    rgba(0, 212, 255, 1) 100%
    
  );
  overflow: hidden;
}

#tsparticles {
  position: fixed;
  z-index: -1;
}
.main-container {
  text-align: center;
  overflow: hidden;
  top: 80px;
  width: 60%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: 98vh;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  margin: auto;
  max-height: calc(100vh);
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}




.MuiInputBase-colorPrimary {
  color: #fff !important;
  width: 100% !important;
}

.MuiFilledInput-root::after{
  background: rgba(0, 0, 0, 0.8) !important; ;
  color: #fff !important;
  border-bottom: 2px solid #00fed7 !important;
}
.MuiFilledInput-root {
  background: rgba(0, 0, 0, 0.8) !important; ;
  color: #fff !important;
  border-radius: 10px !important;
}
.MuiFormLabel-root {
  color: #00fed7 !important;
}
.MuiDialog-paper {
  background: rgba(0, 118, 122, 0.8) !important; ;
  color: #fff !important;
  border-radius: 10px !important;
}


@media only screen and (max-width: 950px) {
  .main-container {
    top: 110px;
    width: 100vw;
    /* Fallback for browsers that do not support Custom Properties */
    height: 100vh !important;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    margin: auto;
   max-height: 100vh;
   
  }
}
